body{
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#logo{
    font-size: 34px;
    font-weight: bolder;
    letter-spacing: 1px;
}

nav{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}